<section class="cards-section">
    <div class="container">
        <div class="row">
            @if (!showContent) {
            @for (placeholder of placeholders; track $index) {
            <div class="col-4">
                <div class="card leads-productos mb-4" aria-hidden="true">
                    <svg class="bd-placeholder-img card-img-top img-box" width="100%" height="180"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                    </div>
                </div>
            </div>
            }
            }@else {
            @for(item of leads; track item.Lead.PRO_NOMBRE)
            {
            <div class="col-4">
                <div class="card leads-productos mb-4">
                    <div class="img-box">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{item.Lead.PRO_NOMBRE}}</h5>
                        <p class="card-text subcategoria">{{item.SubcategoriaLead.SLE_NOMBRE}}</p>
                        <p class="card-text descripcion-corta">{{item.Lead.PRO_DESCRIPCION_CORTA}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <p class="card-text m-0">{{item.Lead.PRO_PRECIO| currency:'CLP'}}</p>
                        <a routerLink="/leads/{{item.PRO_ID}}" class="ver-detalle">Ver detalle</a>
                    </div>
                </div>

            </div>
            }
            }
        </div>
    </div>
</section>