.cards-section .container {
    font-family: Poppins;
}

.cards-section .leads-productos {
    height: 400px;
    width: 24rem;
}

.cards-section .img-box {
    background-image: url('https://images.unsplash.com/photo-1529078155058-5d716f45d604?q=80&w=2768&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 47%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.cards-section .card-title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #212529
}

.cards-section .subcategoria {
    font-size: 16px;
    font-weight: 500;
    color: #6C757D;
}

.cards-section .descripcion-corta {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.card-footer .ver-detalle {
    font-weight: 600;
    font-size: 14px;
}

.cards-section .leads-productos {
    height: 400px;
    width: 24rem;
    border-radius: 12px;
}