<section class="cards-section">
    <div class="container">
        <div class="row">
            @for(item of leads; track item.Lead.PRO_NOMBRE)
            {
            <div class="col-4">
                <div class="card leads-productos mb-4">

                    <img src="https://redcapacitacion.cl/datos/img-etiquetas/32.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">{{item.Lead.PRO_NOMBRE}}</h5>
                        <p class="card-text subcategoria">{{item.SubcategoriaLead.SLE_NOMBRE}}</p>
                        <p class="card-text descripcion-corta">{{item.Lead.PRO_DESCRIPCION_CORTA}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <p class="card-text m-0">{{item.Lead.PRO_PRECIO| currency:'CLP'}}</p>
                        <a routerLink="/leads/{{item.PRO_ID}}" class="btn btn-primary">Ver detalle</a>
                    </div>
                </div>

            </div>
            }
        </div>
    </div>
</section>