<section class="footer">
    <div class="col-4">
        <div class="d-flex justify-content-evenly">
            <a>
                <i class="bi bi-instagram"></i>
            </a>
            <a>
                <i class="bi bi-facebook"></i>
            </a>
            <a>
                <i class="bi bi-twitter"></i>
            </a>
        </div>
        <h6>Transversal Otec</h6>
        <p>Ricardo Matte Pérez 546, Providencia</p>
        <h6>Datos de contacto</h6>
        <a href="emailto:contacto@transversalotec.cl">contacto&#64;transversalotec.cl</a>
        <p>2-2345-4987</p>
    </div>
    <div class="col-4"> submenu de navegación</div>
    <div class="col-4">otro submenú</div>
</section>