<div class="container footer-component">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 mb-0 text-muted">
            <h6>Transversal Otec</h6>
            <p>Ricardo Matte Pérez 546, Providencia</p>
        </div>
        <div class="col-md-4 mt-2 mb-0 text-muted">
            <h6>Datos de contacto</h6>
            <a href="emailto:contacto@transversalotec.cl">contacto&#64;transversalotec.cl</a>
            <p>2-2345-4987</p>
        </div>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a routerLink="/cursos" class="nav-link px-2 text-muted">Cursos</a></li>
            <li class="nav-item"><a href="/leads" class="nav-link px-2 text-muted">Leads</a></li>
            <li class="nav-item"><a href="/quienes-somos" class="nav-link px-2 text-muted">Quiénes somos</a></li>
            <li class="nav-item"><a href="/contacto" class="nav-link px-2 text-muted">Contáctanos</a></li>
        </ul>
    </footer>
</div>