<app-banner />

<section class="productos-destacados-carrusel mb-5">
    <div class="container mt-5 pt-3">
        <div class="row">
            <div class="col-12 mb-3">
                <p class="title-carousel">Leads destacados</p>
            </div>
            <div class="col-12">
                <app-carousel-leads [leads]="leads" [cantidadItems]="cantidadItems" />
            </div>

        </div>
    </div>
</section>

<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <app-filter-leads title="{{title}}" [categoriasArray]="categoriasArray"></app-filter-leads>
            </div>
        </div>
    </div>
</section>

<section class="productos-destacados-carrusel mb-5">
    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-12">
                <app-cards-leads [leads]="leads" />
            </div>

        </div>
    </div>
</section>