<nav class="navbar navbar-expand-lg bg-light layout_navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Transversal Otec</a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active link_seccion" routerLink="/cursos">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link_seccion" routerLink="/leads">Leads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link_seccion" routerLink="/quienes-somos">Quiénes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link_seccion" routerLink="/contacto">Contáctanos</a>
                </li>
                @if (tokenValid) {
                <li class="nav-item">
                    <a class="nav-link link_seccion" routerLink="/mis-compras">Mis compras</a>
                </li>
                }
                @if (vendor) {
                <li class="nav-item">
                    <a class="nav-link link_seccion" routerLink="/mis-productos">Mis productos</a>
                </li>
                }

            </ul>
        </div>
        <div class="d-flex pt-2">
            <i class="bi bi-person-fill i_inicio_sesion pe-2"></i>
            @if (this.tokenValid) {
            <a class="link_seccion" routerLink="/home" routerLinkActive="active" (click)="cerrarSesion()">Cerrar
                sesión</a>
            }@else {
            <a routerLink="/auth/login" routerLinkActive="active" class="link_seccion">Iniciar sesión</a>
            }
        </div>
    </div>
</nav>