.carusel-section .container {
    font-family: Poppins;
}

.carusel-section .productos-destacados {
    height: 400px;
    width: 24rem;
}

.carusel-section .card-title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #212529
}

.carusel-section .subcategoria {
    font-size: 16px;
    font-weight: 500;
    color: #6C757D;
}

.carusel-section .descripcion-corta {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.productos-destacados-carrusel {
    height: 500px;
}