<div class="d-flex flex-column min-vh-100">

    <app-navbar />

    <app-banner />

    <section class="productos-destacados-carrusel">
        <div class="container mt-5 pt-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <p>Cursos destacados <a href="#">Ver todos los cursos</a></p>
                </div>
                <div class="col-12">
                    <app-carousel />
                </div>

            </div>
        </div>
    </section>

    <section class="productos-destacados-carrusel">
        <div class="container mt-5 pt-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <p>Leads destacados <a href="#">Ver todos los leads</a></p>
                </div>
                <div class="col-3">
                    <div class="card prodcutos-destacados">
                        <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Diplomado en Gestión Pública</h5>
                            <p class="card-text">Administración Pública</p>
                            <p class="card-text">Define la organización actual de la administración pública chilena y
                                sus
                                subdivisiones.</p>
                        </div>
                        <div class="card-footer d-flex align-items-end">
                            <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card prodcutos-destacados">
                        <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Diplomado en familia y sociedad</h5>
                            <p class="card-text">Programa online orientando en la entrega de conocimientos del área y
                                herramientas</p>
                        </div>
                        <div class="card-footer d-flex align-items-end">
                            <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card prodcutos-destacados">
                        <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                        <div class="card-footer d-flex align-items-end">
                            <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card prodcutos-destacados">
                        <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                        <div class="card-footer d-flex align-items-end">
                            <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-quienes-somos mt-5">
        <div class="container banner-quienes-somos_home">
            <div class="row justify-content-end">
                <div class="col-3 mt-5 pt-5">
                    <h2 class="title-banner">
                        ¿Quiénes somos?
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="productos-destacados-carrusel">
        <div class="container mt-5 pt-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2>¿Qué dicen nuestros clientes?</h2>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p>estrellas</p>
                                <p>06/12/2023</p>
                            </div>
                            <h5 class="card-title">Nombre</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Curso/lead</h6>
                            <p class="card-text">breve Opinion del cliente</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p>estrellas</p>
                                <p>06/12/2023</p>
                            </div>
                            <h5 class="card-title">Nombre</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Curso/lead</h6>
                            <p class="card-text">breve Opinion del cliente</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p>estrellas</p>
                                <p>06/12/2023</p>
                            </div>
                            <h5 class="card-title">Nombre</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Curso/lead</h6>
                            <p class="card-text">breve Opinion del cliente</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p>estrellas</p>
                                <p>06/12/2023</p>
                            </div>
                            <h5 class="card-title">Nombre</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Curso/lead</h6>
                            <p class="card-text">breve Opinion del cliente</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <app-footer></app-footer>

</div>