<div class="d-flex flex-column min-vh-100">

    <app-navbar />

    <app-banner />

    <section class="productos-destacados-carrusel">
        <div class="container mt-5 pt-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <p class="title-carousel">Cursos destacados <a class="link-carousel" routerLink="/cursos">Ver todos
                            los cursos</a></p>
                </div>
                <div class="col-12">
                    <app-carousel [cursos]="cursos" />
                </div>

            </div>
        </div>
    </section>

    <section class=" productos-destacados-carrusel">
        <div class="container mt-5 pt-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <p class="title-carousel">Leads destacados <a class="link-carousel" routerLink="/leads">Ver todos
                            los leads</a></p>
                </div>
                <div class="col-12">
                    <app-carousel-leads [leads]="leads" />
                </div>
            </div>
        </div>
    </section>

    <section class="banner-quienes-somos mt-5">
        <div class="container banner-quienes-somos_home">
            <div class="row justify-content-end">
                <div class="col-3 mt-5 pt-5">
                    <h2 class="title-banner">
                        ¿Quiénes somos?
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <app-valoraciones />
    <app-footer />
</div>