<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30" slides-per-view="3">
    <swiper-slide>
        <div class="card prodcutos-destacados">
            <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diplomado en Gestión Pública</h5>
                <p class="card-text">Administración Pública</p>
                <p class="card-text">Define la organización actual de la administración pública chilena y sus
                    subdivisiones.</p>
            </div>
            <div class="card-footer d-flex align-items-end">
                <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card prodcutos-destacados">
            <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diplomado en familia y sociedad</h5>
                <p class="card-text">Programa online orientando en la entrega de conocimientos del área y
                    herramientas</p>
            </div>
            <div class="card-footer d-flex align-items-end">
                <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card prodcutos-destacados">
            <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
            <div class="card-footer d-flex align-items-end">
                <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card prodcutos-destacados">
            <img src="https://redcapacitacion.cl/datos/img-etiquetas/489.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
            <div class="card-footer d-flex align-items-end">
                <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
            </div>
        </div>
    </swiper-slide>

</swiper-container>