<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30" slides-per-view="2">
    @for(item of cursos; track item.Curso.PRO_NOMBRE){
    <swiper-slide>
        <div class="card prodcutos-destacados">
            @if (!item.CUR_IMAGEN_1) {
            <img src="{{item.CUR_IMAGEN_1}}" class="card-img-top" alt="...">
            }@else{
            <img src="https://redcapacitacion.cl/datos/img-etiquetas/32.jpg" class="card-img-top" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title">{{item.Curso.PRO_NOMBRE}}</h5>
                <p class="card-text">{{item.SubcategoriaCurso.SCU_NOMBRE}}</p>
                <p class="card-text">{{item.Curso.PRO_DESCRIPCION_CORTA}}</p>
                <p class="card-text">{{item.Curso.PRO_PRECIO| currency : '$'}}</p>
            </div>
            <div class="card-footer d-flex align-items-end">
                <a href="#" class="btn btn-primary">Ir a detalle del curso</a>
            </div>
        </div>
    </swiper-slide>
    }
</swiper-container>