<section>
    <div class="container mis-compras-list">
        <div class="row">
            <div class="col-12">
                <h2 class="m-5">Mis compras</h2>

                <table class="table cell">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">N° de compra</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Documento Tributario</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    @if (!showContent) {
                    <tbody class="table-group-divider">
                        @for (placeholder of placeholders; track $index ) {
                        <tr class="vert placeholder-glow">
                            <th><a><i class="bi bi-eye"></i></a></th>
                            <td> <span class="placeholder col-7"></span></td>
                            <td> <span class="placeholder col-7"></span></td>
                            <td> <span class="placeholder col-7"></span></td>
                            <td> <span class="placeholder col-7"></span></td>
                            <td> <span class="placeholder col-7"></span></td>
                        </tr>
                        }
                    </tbody>
                    }@else {
                    <tbody class="table-group-divider">
                        @for (compra of compras; track $index ) {
                        <tr class="vert">
                            <th><a routerLink="/mis-compras/list/{{compra.VEN_ID}}"><i class="bi bi-eye"></i></a></th>
                            <th scope="row">{{compra.VEN_ID}}</th>
                            <td>{{compra.Producto.PRO_NOMBRE}}</td>
                            <td>{{compra.VEN_MONTO| currency: 'CLP'}}</td>
                            <td>{{compra.TipoDt.TDT_NOMBRE}}</td>
                            <td>{{compra.updatedAt | date: 'd/M/y'}}</td>
                        </tr>
                        }
                    </tbody>
                    }
                </table>
            </div>
        </div>

    </div>

</section>