.body {
    font-family: Poppins;
}

.registerFormulario .input-formulario {
    width: 360px;
}

.registerFormulario .contenedor {
    width: fit-content;
}

.loginFormulario .input-formulario,
.loginFormulario .btn-login-form {
    width: -webkit-fill-available;
}