<section class="d-flex flex-row justify-content-center">
    <h4>{{title}}</h4>

    <select #categoria class=" form-select select mx-3" aria-label="Default select example"
        (change)="onSelected(categoria.selectedIndex)">
        <option selected disabled>Escoger categoría...</option>
        @for (categoria of categoriasArray; track $index) {
        <option value="{{categoria.nombre}}">{{categoria.nombre}}
        </option>
        }
    </select>

    <select class="form-select select" aria-label="Default select example">
        <option value="" disabled>Escoger subcategoría...</option>
        @for (subcategoria of subcategorias; track $index) {
        <option>{{subcategoria}}</option>
        }
    </select>

</section>