<div class="d-flex flex-column min-vh-100">
    @if(isCurso && curso.Curso){
    <section class="section-producto curso pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <h3>{{curso.Curso.PRO_NOMBRE}}</h3>
                </div>
                <div class="col-6 d-flex justify-content-center flex-column">
                    <div class="imagen-curso mb-3">
                        <img src="{{curso.CUR_IMAGEN_1}}" alt="" srcset="">
                    </div>
                    <div class="d-flex">
                        <div class="col-6">
                            <div class="mt-2">
                                <p class="title mb-1">Fecha de inicio:</p>
                                <p class="subtitle">{{curso.CUR_FECHA_INICIO | date:'dd-MM-yyyy'}}</p>
                            </div>
                            <div class="mt-2">
                                <p class="title mb-1">Cantidad de participantes</p>
                                <p class="subtitle">{{curso.CUR_CANTIDAD_MIN_PARTICIPANTES}} a
                                    {{curso.CUR_CANTIDAD_MAX_PARTICIPANTES}} personas</p>
                            </div>
                            <div class="mt-2">
                                <p class="title mb-1">Codigo Sence</p>
                                <p class="subtitle">{{curso.CUR_CODIGO_SENCE}}</p>
                            </div>
                            <div class="mt-2">
                                <p class="title mb-1">Duración:
                                    <span class="subtitle">{{curso.CUR_DURACION}}
                                        {{curso.TipoDeDuracion.TDU_NOMBRE}}</span>
                                </p>
                            </div>
                            <div class="mt-2">
                                <p class="title mb-1">¿Incluye certificación?
                                    <span class="subtitle">
                                        @if(curso.CUR_INCLUYE_CERTIFICACION){
                                        Si
                                        }@else {
                                        No
                                        }
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-2">
                                <p class="title mb-1">Modalidad: <span
                                        class="subtitle">{{curso.Modalidad.MOD_NOMBRE}}</span></p>
                            </div>
                            <div class="mt-2">
                                <p class="title mb-1">Categoría: </p>
                                <p class="subtitle">{{curso.SubcategoriaCurso.CategoriaCurso.CCU_NOMBRE}}</p>
                            </div>
                            <div class="mt-2">
                                <p class="title mb-1">Sub categoría: </p>
                                <p class="subtitle">{{curso.SubcategoriaCurso.SCU_NOMBRE}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="mt-2">
                        <p class="title mb-1">Descripcion del curso:</p>
                        <p class="subtitle">{{curso.Curso.PRO_DESCRIPCION}}</p>
                    </div>
                    <div class="mt-2">
                        <p class="title mb-1">Dirigido a:</p>
                        <p class="subtitle">{{curso.CUR_DIRIGIDO_A}}</p>
                    </div>
                    <div class="mt-2">
                        <p class="title mb-1">Objetivos</p>
                        <p>{{curso.CUR_OBJETIVOS}}</p>
                    </div>
                    <div class="mt-2">
                        <p class="title mb-1">Estructura:</p>
                        <p class="subtitle">{{curso.CUR_ESTRUCTURA}}</p>
                    </div>
                    <div class="mt-2 d-flex justify-content-start">
                        <p>Precio normal: <span>{{curso.Curso.PRO_PRECIO | currency:'CLP'}}</span></p>
                        <p class="ms-3">Precio oferta: <span>{{curso.Curso.PRO_PRECIO_DESCUENTO |
                                currency:'CLP'}}</span>
                        </p>
                    </div>

                    <div class="d-flex justify-content-around mt-3">
                        <button class="btn btn-primary" (click)="comprarProducto()">
                            Comprar curso
                        </button>
                        <button class="btn btn-warning">
                            Cotizar curso
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }@else if(lead && lead.Lead) {
    <section class="section-producto curso pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <h3>{{lead.Lead.PRO_NOMBRE}}</h3>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <div class="imagen-curso mb-3">
                        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="" srcset="">
                    </div>
                </div>

                <div class="col-6">
                    <div class="mt-2">
                        <p class="title mb-1">Descripcion del curso:</p>
                        <p class="subtitle">{{lead.Lead.PRO_DESCRIPCION}}</p>
                    </div>

                    <div class="mt-2">
                        <p class="title mb-1">Categoría: </p>
                        <p class="subtitle">{{lead.SubcategoriaLead.CategoriaLead.CLE_NOMBRE}}</p>
                    </div>
                    <div class="mt-2">
                        <p class="title mb-1">Sub categoría: </p>
                        <p class="subtitle">{{lead.SubcategoriaLead.SLE_NOMBRE}}</p>
                    </div>

                    <div class="mt-2 d-flex justify-content-start">
                        <p class="title">Precio normal: <span class="subtitle">{{lead.Lead.PRO_PRECIO |
                                currency:'CLP'}}</span></p>
                        <p class="ms-3 title">Precio oferta: <span class="subtitle">{{lead.Lead.PRO_PRECIO_DESCUENTO |
                                currency:'CLP'}}</span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <button class="btn btn-primary" (click)="comprarLead()">
                            Comprar lead
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }

</div>