.section-producto {
    font-family: Poppins;
}

.section-producto .title {
    font-size: 16px;
    font-weight: 500;
}

.section-producto .subtitle {
    font-size: 14px;
    font-weight: 400;
}


.section-producto .imagen-curso img {
    width: 28rem;
    border-radius: 10px;
}

.imagen-placeholder {
    width: 28rem;
    height: 15rem;
    border-radius: 10px;
    background-color: #edede9;
    align-items: center;
}