<div class="d-flex flex-column min-vh-100">
    <section class="section-producto pt-5">
        <div class="container">
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">

                    <h3>Nombre del producto</h3>
                    <p>Descripcion larga</p>
                    <p>Precio</p>
                    <p>Precio descuento</p>


                    <!-- Si es un curso -->
                    <p>Dirigido a</p>
                    <p>Objetivos</p>
                    <p>Estructura</p>
                    <p>Fecha de inicio</p>
                    <p>Cantidad minima</p>
                    <p>Cantidad maxima</p>
                    <p>Codigo sence</p>
                    <p>Duracion</p>
                    <p>Incluye certificacion</p>
                    <p>Modalidad</p>
                    <p>Categoria</p>
                    <p>Subcategoria del curso</p>





                </div>
            </div>
        </div>
    </section>
</div>