.section-producto {
    font-family: Poppins;
}

.section-producto .title {
    font-size: 16px;
    font-weight: 500;
}

.section-producto .subtitle {
    font-size: 14px;
    font-weight: 400;
}

.section-producto .imagen-curso {
    width: 35rem;
}

.section-producto .imagen-curso img {
    width: 35rem;
    border-radius: 10px;
}