.cards-section .container {
    font-family: Poppins;
}

.cards-section .img-box {
    height: 47%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.cards-section .cursos-productos {
    height: 400px;
    border-radius: 13px;
    width: 21rem;
}

.card-body {
    height: 53%;
}



.cards-section .card-title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #212529
}

.cards-section .subcategoria {
    font-size: 16px;
    font-weight: 500;
    color: #6C757D;
}

.cards-section .descripcion-corta {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.cursos-productos {
    height: 500px;
}

.card-footer .ver-detalle {
    font-size: 14px;
    font-weight: 600;

}